# source
libs
test
logs
index.ts
package-lock.json
tsconfig.json
tsconfig.build.json
tsconfig.build.tsbuildinfo
coverage
src

# misc
.commitlintrc.json
.release-it.json
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc

# ide
.idea
.github

yarn-error.log
.nycrc
nest-cli.json

# DOCKER
docker-compose.yml
